@import url('https://fonts.googleapis.com/css2?family=K2D&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'K2D', sans-serif;
    overflow-x: hidden;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #030E4F;
    width: 100vw;
    height: 100px;
    border-bottom: solid 3px #F49F1C;
}

nav ul {
    list-style: none;
    display: flex;
    padding-right: 90px;
}

nav ul li,
a {
    text-decoration: none;
    color: #F49F1C;
    letter-spacing: 2px;
    padding-right: 5px;
}

#image-nav {
    display: flex;
    margin-left: 10px;
    background-image: url(/ASSETS/IMG/LOGO-404\(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 70px;
    background-position: center;
}

nav ul li a:hover {
    font-weight: 600;
    text-shadow: 0px 0px 2px #F49F1C;
}

#dropdown-menu {
    display: flex;
    flex-direction: column;
    display: none;

}

#artefs {
    display: flex;
    position: relative;
}

#artefs:hover {
    cursor: pointer;

    #dropdown-menu {
        display: flex;
        background-color: #F49F1C;
        position: absolute;
        width: 150px;
        border-radius: 3px;
        justify-content: center;
        margin-top: 23px;
        border: 2px solid #030E4F;

    }

    #dropdown-menu a {
        color: #030E4F;
        padding-left: 8px;
        display: flex;
        border-bottom: #030E4F solid 1px;
        padding-bottom: 5px;

    }

    #dropdown-menu li {
        width: 150px;
    }

    #dropdown-menu a:hover {
        text-shadow: 0px 0px 5px #030E4F;
    }
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80vh;
    flex-direction: column;
}
section h1{
    text-align: center;
}
#equipe404{
    width: 100vw;
    height: 70vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: inline-flex;
}
.card-equipe{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
}
.card-equipe div{
    width: 50vw;
    height: 40vh;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.card-equipe img{
    display: block;
}
#PO{
   text-align: center;
   align-items: center;
   justify-content: center; 
}
#logo-footer {
    background-image: url(/ASSETS/IMG/LOGO-404\(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 80px;
}
footer {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

#area1 {
    display: flex;
    background-color: #030E4F;
    border-top: #F49F1C solid 3px;
    width: 100vw;
    height: 150px;
    justify-content: space-around;
    align-items: center;
}

#contato-email {
    padding-left: 15px;
    display: flex;
    width: 280px;
    flex-direction: column;
}

#contato-linkedin {
    padding-left: 15px;
    display: flex;
    width: 175px;
    flex-direction: column;
}

#contato-github {
    padding-left: 15px;
    display: flex;
    width: 175px;
    flex-direction: column;
}

#contato-email a:hover {
    font-weight: 600;
    text-shadow: 0px 0px 2px #F49F1C;
}

#contato-linkedin a:hover {
    font-weight: 600;
    text-shadow: 0px 0px 2px #F49F1C;
}

#contato-github a:hover {
    font-weight: 600;
    text-shadow: 0px 0px 2px #F49F1C;
}

#copyright {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: #F49F1C;
    background-color: #030E4F;
}

#divisor {
    width: 100%;
    height: 1px;
    border: none;
    margin-bottom: 5px;
    background-color: #F49F1C;
}

#github,
#linkedin,
#email {
    display: flex;
}