@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

main{
    width: 100vw;
    height: 120vh;
    display: flex;
    flex-direction: column;
}
section h1{
    display: block;
    width: 100vw;
    height: auto;
    margin-top: 10%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
#equipe404{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 120vh;
    margin-bottom: 10%;
}
.card1-equipe{
    display: inline-flex;
    flex-direction: column;
    width: 50vw;
    height: 120vh;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    
    word-wrap: break-word;
    white-space: normal;
    margin-bottom: 10%;
}
.card2-equipe{
    display: inline-flex;
    flex-direction: column;
    width: 50vw;
    height: 120vh;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    word-wrap: break-word;
    white-space: normal ;
    margin-bottom: 10%;
}
.name, .cargo, .text{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 16px;
}
.text{
    margin-top: 0;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    word-wrap: break-word;
    white-space: normal;
    text-align: justify;
    padding: 3%;
}

.PO{
    width: 50vw;
    height: 60vh;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex-wrap: wrap;
    word-wrap: break-word;
    white-space: normal;
    overflow-y: hidden;
}
.ES{
    margin-top: auto;
    width: 50vw;
    height: 60vh;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    flex-wrap: wrap;
    word-wrap: break-word;
    white-space: normal;
    overflow-y: hidden;
}
.AS{
    width: 50vw;
    height: 60vh;
    display: block;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    flex-wrap: wrap;
    word-wrap: break-word;
    white-space: normal;
    overflow-y: hidden;
}
.DS{
    margin-top: auto;
    width: 50vw;
    height: 60vh;
    display: block;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    flex-wrap: wrap;
    word-wrap: break-word;
    white-space: normal;
    overflow-y: hidden;
    margin-bottom: auto;
}