*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navegacao li{
    display: inline-flex;
}
nav li{
    text-decoration: none;

}
.opcoes-artefatos li{
    display: block;
    flex-direction: column;
}