body {
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#videoPitch {
    width: 70%;
}

#videoPitch iframe {
    border: 3px solid #F49F1C;
    padding: 0;
}

#btn-pitch {
    background-color: transparent;
    border-color: #030e4f;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#btn-pitch a {
    text-decoration: none;
    color: #030e4f;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
}

#btn-pitch:hover {
    transition: all 0.5s ease;
    background-color: #030e4f;
}

#btn-pitch a:hover {
    transition: all 0.5s ease;
    color: #F49F1C;
}

@media screen and (max-width: 575px) {
    #videoPitch {
        width: 95%;
    }
}