@media screen and (max-width: 910px) {
    .conteudo {
        padding-top: 120px;
    }

    main {
        width: 100vw;
        height: 1000px;
        display: block;
        justify-content: center;
        display: flex;
    }

    #mostrarPitch {
        width: 30%;
        margin-bottom: 5%;
    }
}


@media screen and (max-width:720px) {
    .conteudo {
        padding-top: 200px;
    }

    iframe {
        width: 70%;
    }

    main {
        display: block;
        width: 100vw;
        height: 1000px;
    }
}