@media screen and (max-width: 910px) {
    main {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .conteudo {
        display: flex;
        justify-content: space-evenly;
    }

    .conteudo p {
        padding: 10px 0px;
        width: 80%;
    }

    .conteudo h1 {
        padding: 0;
    }

    .conteudo h2 {
        padding: 10px 0px;
    }

    #mostrarPitch {
        width: 40%;
    }
}


@media screen and (max-width:720px) {
    main {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .conteudo {
        display: flex;
        justify-content: space-evenly;
    }

    .conteudo p {
        font-size: 17px;
    }

    iframe {
        width: 70%;
    }

    main {
        display: block;
        width: 100vw;
        height: 1000px;
    }
}

@media screen and (max-width: 320px) {
    main {
        display: flex;
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .conteudo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 100px;
    }

    .conteudo h1 {
        padding: 0px;
        font-size: 23px;
    }

    .conteudo h2 {
        font-size: 20px;
        padding: 0px;
    }


    .conteudo p {
        font-size: 13px;
        padding: 10px 20px;
    }

    .conteudo iframe {
        width: 90%;
    }

    .conteudo #mostrarPitch {
        width: 40%;
        font-size: 13px;
        height: 50px;
        margin: 30px 0px;
    }
}