main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: rgb(244, 249, 253);
}

main a {
    color: #F2BC94;
}

main a:hover {
    color: #F49F1C;
}

#container-sobre h1 {
    padding-top: 140px;
    padding-bottom: 30px;
    font-size: 30px;
}

#container-sobre p {
    align-items: center;
    padding-top: 10px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 10px;
    font-size: 20px;
    text-indent: 5px;
}

#container-sobre h2 {
    margin-top: 50px;
    font-size: 30px;
}

#container-sobre img {
    align-items: center;
    width: 550px;
    height: 240px;
}

#img-sobre {
    height: 12vh;
    width: 12vw;
}

#paragrafo-equipe {
    margin-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

#img-sobre {
    margin: 0;
}