@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&family=Geologica&family=Roboto&display=swap');

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    font-family: 'Gasoek One', sans-serif;
    color: #F49F1C;
}

main t {
    font-family: 'Gasoek One', sans-serif;
    color: #030E4F;
}

main p {
    width: 90%;
    font-size: 20px;
    text-align: justify;
}