@media screen and (max-width: 910px) {
    main {
    width: 100vw;
    
    }
    #container-sobre {
        word-wrap: break-word;
        overflow: none;
        white-space: normal;
        max-width: 100%;
    }
}
@media screen and (max-width: 720px) {

    #container-sobre {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50vw;
        height: 20vh;
    }

    
}