body {
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main a {
    color: #F49F1C;
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

#container1 {
    display: flex;
    align-items: center;
}

#main-secao1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-secao1 p {
    width: 70%;
    text-indent: 10px;
    text-align: justify;
}

#imagem1 {
    display: flex;
    justify-content: center;
}

main hr {
    width: 80%;
    background-color: #030e4f;
    align-self: center;
    border: none;
    height: 3px;
}

#container2 {
    display: flex;
    align-items: center;
}

#main-secao2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-secao2 p {
    width: 70%;
    text-indent: 10px;
    text-align: justify;
}

#imagem2 {
    display: flex;
    justify-content: center;
}

#btn-about {
    padding: 0;
    width: 20%;
    border-radius: 7px;
    background-color: transparent;
    border: 1px solid #030e4f;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

#btn-about:hover {
    transition: all 0.5s ease;
    background-color: #030e4f;
}

#btn-about a {
    text-decoration: none;
    color: #030e4f;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    text-transform: uppercase;
}

#btn-about a:hover {
    color: #F49F1C;
}

@media screen and (max-width: 710px) {
    main {
        display: flex;
        flex-direction: column;
    }

    #container1 {
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    #container2 {
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .container-fluid #imagem2 {
        display: flex;
        justify-content: center;
    }

    .container-fluid #imagem1 {
        display: flex;
        justify-content: center;
    }

    #btn-about {
        width: 50%;
    }

    #container1 p {
        width: 100%;
    }

    #container2 p {
        width: 100%;
    }
}