@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
}

#container-sobre h1 {
    padding-left: 48px;
    padding-top: 80px;
}

#container-sobre p {
    align-items: center;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
}

#container-sobre h2 {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 48px;
}

#container-sobre img {
    margin-top: 100px;
    margin-bottom: 200px;
    margin-left: 50%;
    align-items: center;
}

#paragrafo-equipe {
    margin-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #030E4F;
    width: 100vw;
    height: 10vh;
    border-bottom: solid 3px #F49F1C;
    position: fixed;
    box-shadow: 0px 0px 4px 3px rgb(136, 133, 133);
}

nav ul {
    list-style: none;
    display: flex;
    padding-right: 90px;
    transition: all 0.3s ease;
}

nav ul li,
a {
    text-decoration: none;
    color: #F49F1C;
    letter-spacing: 2px;
    padding-right: 5px;
}

#image-nav {
    display: flex;
    margin-left: 10px;
    background-image: url(/ASSETS/IMG/LOGO404$.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 70px;
    background-position: center;
}

nav ul li a:hover {
    font-weight: 600;
    text-shadow: 0px 0px 2px #F49F1C;
}

#dropdown-menu {
    display: flex;
    flex-direction: column;
    display: none;
}

#artefs {
    display: flex;
    position: relative;
    cursor: pointer;
}

#artefs:hover>#dropdown-menu {
    cursor: pointer;
    display: flex;
    background-color: #F49F1C;
    position: absolute;
    width: 150px;
    border-radius: 3px;
    justify-content: center;
    margin-top: 23px;
    border: 2px solid #030E4F;
}

#artefs:hover>#dropdown-menu a {
    color: #030E4F;
    padding-left: 8px;
    display: flex;
    border-bottom: #030E4F solid 1px;
    padding-bottom: 5px;
}

#artefs:hover>#dropdown-menu li {
    width: 150px;
}

#artefs:hover>#dropdown-menu a:hover {
    text-shadow: 0px 0px 5px #030E4F;
}