@media screen and (max-width: 910px) {
    main {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    #primeira-secao-texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 550px;
        padding-top: 100px;
    }

    #primeira-secao-texto div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }

    #primeira-secao-texto img {
        margin: 0;
        width: 70vh;
        height: 300px;
    }

    main hr {
        display: block;
        margin: 20px 0px;
    }

    #segunda-secao-texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 550px;
    }

    #segunda-secao-texto div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    #segunda-secao-texto img {
        width: 70vh;
        height: 300px;
        margin: 0;
    }

    #btn-about {
        display: flex;
        align-self: center;
    }
}
@media screen and (max-width: 380px) {
    main{
        width: 100vw;
    }
    #primeira-secao-texto {
        padding-top: 45px;      
        width:100vw ;
        height: 45vh;
    }
    #segunda-secao-texto {
        padding-bottom: 10px;
        width: 100vw;
        height: 45vh;
    }
    #primeira-secao-texto div {
    display: flex;
    flex-direction: column;
    width: 280px;
}
    #segunda-secao-texto div{
       
        word-wrap: break-word;
        overflow: none;
        white-space: normal;
        max-width: 100%;
    }
    #primeira-secao-texto div p {
        font-size: 13px;
    }
    #segunda-secao-texto div p {
        font-size: 13px;

    }
    #primeira-secao-texto div h1 {
        font-size: 17px;
        padding-top: 10px;
    }
    #primeira-secao-texto img {
        width: 70vw;
        height: 25vh;
    }
   
    #segunda-secao-texto img {
        width: 70vw;
        height: 20vh;
    }
    #segunda-secao-texto h1 {
        font-size: 17px;
    }

    #btn-about {
        display: flex;
        align-self: center;
    }
}