@media screen and (max-width: 910px) {
    main {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    #primeira-secao-texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 550px;
        padding-top: 100px;
    }

    #primeira-secao-texto div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }

    #primeira-secao-texto img {
        margin: 0;
        width: 70vh;
        height: 300px;
    }

    main hr {
        display: block;
        margin: 20px 0px;
    }

    #segunda-secao-texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 550px;
    }

    #segunda-secao-texto div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    #segunda-secao-texto img {
        width: 70vh;
        height: 300px;
        margin: 0;
    }

    #btn-about {
        display: flex;
        align-self: center;
    }
}