.btn-mobile {
    display: none;
}

#dropdown-menu-mobile {
    display: none;
}

.item-lista-mobile {
    display: none;
}

@media screen and (max-width: 910px) {
    .btn-mobile {
        display: block;
        background-color: transparent;
        margin-right: 50px;
        border: none;
    }

    .btn-mobile img:hover {
        box-shadow: 0px 0px 2px 3px #F2BC94;
        border-radius: 50%;
        cursor: pointer;
    }

    #artefs {
        display: none;
    }

    nav {
        position: fixed;
        width: 100vw;
    }

    nav ul li {
        width: 100%;
    }

    nav ul li a {
        color: #030E4F;
        display: flex;
        text-align: center;
        padding-bottom: 5px;
    }

    nav ul {
        align-items: center;
        position: fixed;
        top: 10vh;
        right: -100%;
        background-color: #F49F1C;
        height: 100vh;
        width: 30%;
        display: block;
        transition: all 0.3s ease;
    }

    nav ul.open {
        padding: 0px;
        right: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-left: #030E4F solid 1px;
    }

    nav ul li,
    #artefs {
        margin: 2px 5px;
        border-bottom: #030E4F solid 1px;
    }

    nav ul li a,
    #artefs a {
        font-size: 15px;
        justify-content: center;
    }

    .item-lista-mobile {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    @media (max-width: 480px) {
        nav {
            padding: 0 20px;
            width: 100%;
        }

        #image-nav {
            width: 160px;
            height: 50px;

        }
        .btn-mobile {
            display: block;
            background-color: transparent;
            margin-right: 25%;
            border: none;
        }
        nav ul{
            width: 70%;
        }
    }
}