body {
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
   /* background-color: rgba(244, 159, 28, 0.5);*/
   background-color: rgba(3, 14, 79, 1);
}

.container {
    width: 35%;
    height: 20%;
    display: flex;
    border-radius: 20px;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    margin-bottom: 20px;
    background-color: #F49F1C;
}

.container #area1 {
    width: 30%;
    background-color: transparent;
    border: none;
    display: flex;
}

.container #area1 img {
    width: 100%;
    height: 80%;
    border-radius: 20px;
    background-size: cover;
}

.container #area2 {
    width: 50%;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
}

.container #area2 h1 {
    font-size: 30px;
    color: #030E4F;
    align-self: center;
    padding-bottom: 20px;
}

.container #area2 button {
    font-size: 12px;
    align-self: center;
    display: flex;
    justify-content: center;
    width: 50%;
    border-radius: 20px;
    box-shadow: 1px 0px 7px #030E4F;
    cursor: pointer;
}

.container #area2 button a {
    color: #030E4F;
    text-align: center;
    border-radius: 20px;
    padding: 10px 35px;
    font-weight: bold;
}

.btn-download:hover {
    transition: all 1.3s ease;
    border: none;
    color: #030E4F;
    background-color: #F49F1C;
}