body {
    height: 100vh;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#card3 {
    border: 2px solid #F49F1C;
    border-radius: 7px;
}

#card3 img {
    width: 100%;
    height: 100%;
    border-radius: 0px;
}

#btn-download {
    display: flex;
    padding: 1px;
    width: 40%;
    background-color: transparent;
    border-color: #030e4f;
}

#btn-download:hover {
    background-color: #030e4f;
    transition: all 0.5s ease;
    border: solid 1px #F49F1C;
}

#btn-download a:hover {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    color: #F49F1C;
}

#btn-download a {
    font-size: 15px;
    color: #030e4f;
    text-decoration: none;
    padding: 3px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.botoes-download {
    display: flex;
    justify-content: space-around;
}

#botao-dwnl-documentacao {
    display: flex;
    justify-content: center;
}