footer {
    width: 100vw;
    background-color: #030E4F;
    display: flex;
    flex-direction: column;
}

#logo-footer {
    width: 300px;
    height: 200px;
}

#area1 {
    display: flex;
    background-color: #030E4F;
    border-top: #F49F1C solid 3px;
    width: 100vw;
    height: 13vh;
    justify-content: space-around;
    align-items: center;
}

#contato-email {
    padding-left: 15px;
    display: flex;
    width: 280px;
    flex-direction: column;
}

#contato-linkedin {
    padding-left: 15px;
    display: flex;
    width: 175px;
    flex-direction: column;
}

#contato-github {
    padding-left: 15px;
    display: flex;
    width: 175px;
    flex-direction: column;
}

#contato-email a:hover {
    color: #F2BC94;
}

#contato-linkedin a:hover {
    color: #F2BC94;
}

#contato-github a:hover {
    color: #F2BC94;
}

#copyright {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 9vh;
    justify-content: center;
    align-items: center;
    color: #F49F1C;
    background-color: #030E4F;
}

#copyright p {
    display: flex;
    padding-top: 15px;
    align-items: center;
}

#divisor {
    width: 100%;
    height: 1px;
    border: none;
    margin-bottom: 5px;
    background-color: #F49F1C;
}

#github,
#linkedin,
#email {
    display: flex;
}