body {
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#containerEquipe {
    display: flex;
    justify-content: center;
    width: 70%;
}

.card {
    border: 2px solid #030E4F;
}

.card-text {
    text-align: justify;
}

#textoEquipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#textoEquipe p {
    width: 85%;
    text-align: justify;
}

#textoEquipe h1 {
    align-self: center;
}

@media screen and (max-width: 1190px) {
    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 635px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #textoEquipe p {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .card {
        width: 80%;
        margin: 0;
    }

    .col {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #containerEquipe {
        width: 100%;
    }
}