.btn-mobile {
    display: none;
}

#dropdown-menu-mobile {
    display: none;
}

.item-lista-mobile {
    display: none;
}

@media screen and (max-width: 910px) {
    .btn-mobile {
        display: block;
        background-color: transparent;
        margin-right: 50px;
        border: none;
    }

    .btn-mobile img:hover {
        box-shadow: 0px 0px 0px 2px #F2BC94;
        border-radius: 50%;
        cursor: pointer;
    }

    #artefs {
        display: none;
    }

    nav {
        position: fixed;
    }

    nav ul li {
        width: 100%;
    }

    nav ul li a {
        color: #030E4F;
        display: flex;
        text-align: center;
        padding-bottom: 5px;
    }

    nav ul {
        align-items: center;
        position: fixed;
        top: 10vh;
        right: -100%;
        background-color: #F49F1C;
        height: 100vh;
        width: 30%;
        display: block;
        transition: all 0.3s ease;
    }

    nav ul.open {
        padding: 0px;
        right: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-left: #030E4F solid 1px;
    }

    nav ul li,
    #artefs {
        margin: 2px 5px;
        border-bottom: #030E4F solid 1px;
    }

    nav ul li a,
    #artefs a {
        font-size: 17px;
        justify-content: center;
    }

    .item-lista-mobile {
        display: flex;
        justify-content: center;
    }

    #image-nav {
        width: 300px;
    }

    #logo-footer {
        width: 250px;
    }
}

@media screen and (max-width:720px) {
    nav ul {
        width: 35%;
    }

    #image-nav {
        width: 250px;
    }

    .btn-mobile img {
        width: 45px;
        height: 45px;
    }

    .btn-mobile img:hover {
        box-shadow: 0px 0px 0px 2px #F2BC94;
        border-radius: 50%;
        cursor: pointer;
    }

    #logo-footer {
        width: 50px;
    }
}

@media screen and (max-width:320px) {
    nav ul.open {
        width: 60%;
    }

    nav {
        height: 60px;
    }

    #image-nav {
        width: 30%;
    }

    .btn-mobile img {
        width: 25px;
        width: 25px;
    }

    .btn-mobile img:hover {
        box-shadow: 0px 0px 0px 2px #f2bd9400;
        border-radius: 50%;
        cursor: pointer;
    }

    nav ul {
        align-items: center;
        position: fixed;
        top: 60px;
        right: -100%;
        background-color: #F49F1C;
        height: 100vh;
        width: 30%;
        display: block;
        transition: all 0.3s ease;
    }
}